<%= link_to discussion_path(discussion), :class => 'pure-button discussion-thumb-shell' do %>
  <p class="discussion-thumb-title"><%= discussion.title %></p>
  <p class="discussion-thumb-content"><%= discussion.content %></p>
<% end %>
