<h1>New Project</h1>
<%= form_for @project, :html => {:class => 'pure-form pure-form-stacked'} do |f| %>
  <%= f.text_field 'name', :placeholder => 'Project Name' %>
  <%= f.submit 'save new project', :class => 'pure-button' %>
<% end %>